:root {
  --primary-color: #c0c0c0;
  --primary-color--dark: #808080;
  --alarm-color: #f80000;
  --cell-size: 4rem;
  --game-padding: 1.5rem;
  --border-width: 0.3rem;
  --cells-in-row: 8;
  --game-max-width: calc(
        var(--cell-size) * var(--cells-in-row) + calc(2 * var(--game-padding)) +
          calc(2 * var(--border-width)));
}

@font-face {
  font-family: DIGITALDREAM;
  src: url("../assets/digital-7.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .game {
  background-color: var(--primary-color);
  padding: var(--game-padding);
  max-width: var(--game-max-width);
  margin: 0 auto;
}

body .game .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem;
}

body .game .header__counter {
  background-color: #000;
  color: var(--alarm-color);
  padding: 0.5rem;
  font-family: 'DIGITALDREAM', sans-serif;
  font-size: 3.2rem;
  min-width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .game .header__reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  background-color: var(--primary-color);
}

body .game .header__button {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
}

body .game__board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .game__board .cell {
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  background-size: 2rem;
  background-position: center;
}

body .game__board .cell--is-flag {
  background-image: url("../assets/flag.svg");
  background-repeat: no-repeat;
}

body .game__panel .panel__header {
  text-align: center;
  font-size: 2.6rem;
}

body .game__panel .panel__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .game__panel .panel__buttons .button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2.5rem 0;
  cursor: pointer;
  font-size: 2.4rem;
}

body .game .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

body .game .modal__content {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: .8rem;
}

body .game .modal__content h2 {
  font-size: 4.8rem;
  text-align: center;
}

body .game .modal__content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border: .3rem solid #000;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  outline: none;
  -webkit-transition: background-color .1s ease-in, color .1s ease-in, border .1s ease-in;
  transition: background-color .1s ease-in, color .1s ease-in, border .1s ease-in;
}

body .game .modal__content button:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

body .game .border {
  border: var(--border-width) solid;
}

body .game .border--convex {
  border-color: var(--primary-color--dark) #fff #fff var(--primary-color--dark);
}

body .game .border--concave {
  border-color: #fff var(--primary-color--dark) var(--primary-color--dark) #fff;
}

body .game .hide {
  visibility: hidden;
}

body .game .border--revealed {
  border-width: .1rem;
  border-color: var(--primary-color--dark);
}
/*# sourceMappingURL=style.css.map */